<h1>Products</h1>
<ol>
	<% cart.each do |product| %>
		<li><%= product %></li>
	<% end %>
</ol>

<h1>New Product</h1>

<%= form_tag add_product_path do %>
	<%= label_tag "product" %>
	<%= text_field_tag "product" %><br>
	<br>
	<%= submit_tag "add to cart" %>
<% end %>